<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>All figures</title>
  </head>
  <body>
    <h1>All Existing Figures:</h1>
    <% @figures.each do |figure| %>
    <%= figure.name %> <br>
    <% end %>
  </body>
</html>
